@charset "UTF-8";

// FONT FAMILY
$font_dotum: "돋움",dotum,"Apple SD GothicNeo",sans-serif;
$font_nanum_gothic: "Nanum Gothic","돋움",dotum,"Apple SD GothicNeo",sans-serif;

// FONT COLOR
$color_base: #595963; // 본문 (연한 회색)
$color_dark: #17181a; // 본문 강조 (진한 회색)
$color_notable: #4f79c0; // 포인트 강조 (파랑색)
$color_point: #f27935; // 포인트 강조 (주황색)
$color_base2:#8d9097; // 본문 (좀더연한회색)

