<!DOCTYPE HTML>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>SPC :: component</title>
<link rel="stylesheet" type="text/css" href="../../css/spc.css">
<style>
/* [D] UI 확인용 */
.spc_layer{
	display: block;
	position: relative;
}
.section{
	margin-top: 30px;
}
.article{
	width: 800px;
	margin-top: 15px;
	padding: 15px;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
</style>
</head>
<!--[if lt IE 7]><body class="lt-ie9 lt-ie8 lt-ie7 spc"> <![endif]-->
<!--[if IE 7]><body class="lt-ie9 lt-ie8 spc"> <![endif]-->
<!--[if IE 8]><body class="lt-ie9 spc"> <![endif]-->
<!--[if IE 9]><body class="lt-ie10 spc"> <![endif]-->
<!--[if gt IE 9]><!--><body class="spc"><!--<![endif]-->
<div id="wrap">
	<div id="header">
		<div class="top_wrap">
	<div class="inner">
		<div class="account_area">
			<!-- 하위목록을 노출시키려면 active 클래스를 넣어주세요  -->
			<div class="state_list">
				<button class="account"><em>티켓몬스터</em> 님</button>
				<ul>
					<li><a href="#">나의 정보 확인</a></li>
					<li><a href="#">비밀번호 변경</a></li>
					<li><a href="#">로그아웃</a></li>
				</ul>
			</div> <!-- end of state_list -->
			<span><a href="#">공지사항</a></span>
			<span><a href="#">매출증진 TIP</a></span>
			<span><a href="#">담당자 연락처</a></span>
			<span class="ad">슈퍼클릭(키워드/검색광고)문의 <em>1661-8200</em></span>	
			<span class="ad">티몬광고상품문의 <em>02-2098-8690</em></span>
		</div>
		<!-- 오픈마켓 로고는 om 멀티클래스, 티몬특가 로고는 mmp 멀티클래스를 주시면 됩니다 -->
		<!-- <h1 class="spc_logo om"><a href="#">TMON 스토어파트너 센터</a></h1> -->
		<h1 class="spc_logo dp"><a href="#">TMON 배송상품 파트너센터</a></h1>
	</div>
</div>
		<div class="fixed_area">
		<!-- 페이지 스크롤시 gnb 고정상태일때 gnb_area fixed 클래스를 넣어주세요 -->
		<div class="gnb_area">
			<div class="inner_area">
				<ul class="gnb_wrap" id="gnb">
					<li class="">
						<a href="#">티몬특가 신청</a>
					</li>
					<li class="on">
						<a href="#">딜관리</a>
						<div class="sub">
							<i class="arr"></i>
							<ul>
								<li><a href="#">베이직딜등록</a></li>
								<li><a href="#">베이직딜 관리</a></li>
							</ul>
						</div>
					</li>
					<li class="">
						<a href="#">주문관리</a>
						<div class="sub">
							<i class="arr"></i>
							<ul>
								<li><a href="#">미확인 주문</a></li>
								<li><a href="#">송장등록 대기주문</a></li>
								<li><a href="#">송장등록 완료주문</a></li>
								<li><a href="#">배송중 주문</a></li>
								<li><a href="#">배송템플릿 관리</a></li>
								<li><a href="#">배송지연패널티 관리</a></li>
							</ul>
						</div>
					</li>
					<li class="">
						<a href="#">클레임관리</a>
						<div class="sub">
							<i class="arr"></i>
							<ul>
								<li><a href="#">출고전 취소 관리</a></li>
								<li><a href="#">환불관리</a></li>
								<li><a href="#">교환관리</a></li>
								<li><a href="#">재배송관리</a></li>
								<li><a href="#">수취처리관리</a></li>
								<li><a href="#">클레임 등록</a></li>
							</ul>
						</div>
					</li>
					<li class="">
						<a href="#">문의∙리뷰관리</a>
						<div class="sub">
							<i class="arr"></i>
							<ul>
								<li><a href="#">고객문의 관리</a></li>
								<li><a href="#">CS문의 관리</a></li>
								<li><a href="#">고객리뷰 관리</a></li>
							</ul>
						</div>
					</li>
					<li class="">
						<a href="#">정산관리</a>
						<div class="sub">
							<i class="arr"></i>
							<ul>
								<li><a href="#">판매현황조회</a></li>
								<li><a href="#">파트너 단위 정산서</a></li>
								<li><a href="#">딜 단위 정산서</a></li>
								<li><a href="#">세금계산서</a></li>
								<li><a href="#">매출·매입내역</a></li>
								<li><a href="#">PG결제수수료 환급조회</a></li>
							</ul>
						</div>
					</li>
					<!-- <li class="">
						<a href="#">계약관리</a>
						<div class="sub">
							<i class="arr"></i>
							<ul>
								<li><a href="#">계약서작성</a></li>
								<li><a href="#">계약서관리</a></li>
								<li><a href="#">서명승인요청</a></li>
							</ul>
						</div>
					</li> -->
					<li class="@@mystore_on">
						<a href="#">광고주센터</a>
						<div class="sub">
							<i class="arr"></i>
							<ul>
								<li><a href="#">광고주센터 바로가기</a></li>
								<li><a href="#">즉시할인 관리</a></li>
							</ul>
						</div>
					</li>
					<li class="">
						<a href="#">My 스토어</a>
						<div class="sub">
							<i class="arr"></i>
							<ul>
								<li><a href="#">스토어 생성</a></li>
								<li><a href="#">기본정보관리</a></li>
								<li><a href="#">추천상품관리</a></li>
							</ul>
						</div>
					</li>
					<li class="@@adcener_on">
						<a href="#">파트너지원</a>
						<div class="sub">
							<i class="arr"></i>
							<ul>
								<li><a href="#">공지사항</a></li>
								<li><a href="#">자주하는질문</a></li>
								<li><a href="#">1:1문의</a></li>
								<li><a href="#">약관변경확인</a></li>
								<li><a href="#">(구)계약관리 확인</a></li>
								<li><a href="#">티몬특가<i class="new_menu"></i></a></li>
								<li><a href="#">자료실</a></li>
								<li><a href="#">파트너교육센터</a></li>
							</ul>
						</div>
					</li>
				</ul>
				<!-- 전체메뉴 노출시 btn_sitemap active 클래스를 넣어주세요 -->
				<a href="#/" class="btn_sitemap"><span>전체메뉴보기</span></a>
				<!-- 전체메뉴 노출시 sitemap active 클래스를 넣어주세요 -->
				<div class="sitemap">
					<!-- 
						컬럼갯수에 따라 원하는 클래스를 추가해주세요
						메뉴컬럼4개 : col4
						메뉴컬럼5개 : col5
						-->
					<div class="sitemap_wrap col4">
						<div>
							<a href="#">딜관리</a>
							<ul class="sub">
								<li><a href="#">베이직딜등록</a></li>
								<li><a href="#">베이직딜 관리</a></li>
							</ul>
						</div>
						<div>
							<a href="#">주문관리</a>
							<ul class="sub">
								<li><a href="#">미확인 주문</a></li>
								<li><a href="#">송장등록 대기주문</a></li>
								<li><a href="#">송장등록 완료주문</a></li>
								<li><a href="#">배송중 주문</a></li>
								<li><a href="#">배송템플릿 관리</a></li>
								<li><a href="#">배송지연패널티 관리</a></li>
							</ul>
						</div>
						<div>
							<a href="#">클레임관리</a>
							<ul class="sub">
								<li><a href="#">출고전 취소 관리</a></li>
								<li><a href="#">환불관리</a></li>
								<li><a href="#">교환관리</a></li>
								<li><a href="#">재배송관리</a></li>
								<li><a href="#">수취처리관리</a></li>
								<li><a href="#">클레임 등록</a></li>
							</ul>
						</div>
						<div>
							<a href="#">문의∙리뷰관리</a>
							<ul class="sub">
								<li><a href="#">고객문의 관리</a></li>
								<li><a href="#">CS문의 관리</a></li>
								<li><a href="#">고객리뷰 관리</a></li>
							</ul>
						</div>
						<div>
							<a href="#">정산관리</a>
							<ul class="sub">
								<li><a href="#">판매현황조회</a></li>
								<li><a href="#">파트너 단위 정산서</a></li>
								<li><a href="#">딜 단위 정산서</a></li>
								<li><a href="#">세금계산서</a></li>
								<li><a href="#">매출·매입내역</a></li>
								<li><a href="#">PG결제수수료 환급조회</a></li>
							</ul>
						</div>
						<!-- <div>
							<a href="#">계약관리</a>
							<ul class="sub">
								<li><a href="#">계약서작성</a></li>
								<li><a href="#">계약서관리</a></li>
								<li><a href="#">서명승인요청</a></li>
							</ul>
						</div> -->
						<div>
							<a href="#">광고주센터</a>
							<ul class="sub">
								<li><a href="#">광고주센터 바로가기</a></li>
								<li><a href="#">즉시할인 관리</a></li>
							</ul>
						</div>
						<div>
							<a href="#">My 스토어</a>
							<ul class="sub">
								<li><a href="#">스토어 생성</a></li>
								<li><a href="#">기본정보관리</a></li>
								<li><a href="#">추천상품관리</a></li>
							</ul>
						</div>
						<div>
							<a href="#">파트너지원</a>
							<ul class="sub">
								<li><a href="#">공지사항</a></li>
								<li><a href="#">1:1문의</a></li>
								<li><a href="#">약관변경확인</a></li>
								<li><a href="#">(구)계약관리 확인</a></li>
								<li><a href="#">티몬특가<i class="new_menu"></i></a></li>
								<li><a href="#">자료실</a></li>
								<li><a href="#">파트너교육센터</a></li>
							</ul>
						</div>
					</div>
					<!--  전체메뉴 고정하기 활성화시 active 클래스를 넣어주세요 -->
					<div class="bottom-area" style="display:none"><button class="menu_fixed">전체메뉴 고정하기</button></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<hr>
	<div id="container">
		<div id="content">
			<div class="h2_head">
				<h2>component 모음 페이지</h2>
			</div>
			<div class="section">
	<div class="h3_head">
		<h3>heading</h3>
	</div>
	<div class="article">
		<div class="h2_head">
			<h2>h2 타이틀</h2>
		</div>
		<div class="h3_head">
			<h3>h3 타이틀</h3>
		</div>
	</div>
</div>

			<div class="section">
	<div class="h3_head">
		<h3>list</h3>
	</div>
	<div class="article">
		<ul class="spc_note">
			<li><i class="dot"></i>리스트 스타일 입니다.</li>
			<li><i class="dot"></i>리스트 스타일 입니다.</li>
			<li><i class="dot"></i>리스트 스타일 입니다.</li>
		</ul>
	</div>
</div>

			<div class="section">
	<div class="h3_head">
		<h3>tab</h3>
	</div>
	<div class="article">
		<ul class="spc_tab">
			<li class="on"><button type="button">tab menu</button></li>
			<li><button type="button">tab menu</button></li>
		</ul>
	</div>
</div>

			<div class="section">
	<div class="h3_head">
		<h3>table</h3>
	</div>
	<div class="article">
		<table class="spc_table_board">
			<colgroup>
				<col style="width:auto;" />
				<col style="width:100px;" />
				<col style="width:100px;" />
				<col style="width:100px;" />
				<col style="width:100px;" />
				<col style="width:100px;" />
			</colgroup>
			<thead>
				<tr>
					<th>col1<i class="bar"></i></th>
					<th>col2<i class="bar"></i></th>
					<th>col3<i class="bar"></i></th>
					<th>col4<i class="bar"></i></th>
					<th>col5<i class="bar"></i></th>
					<th>col6<i class="bar"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

			<div class="section">
	<div class="h3_head">
		<h3>button</h3>
	</div>
	<div class="article">
		<button type="button" class="btn submit">등록</button>
		<button type="button" class="btn cancel">취소</button>
		<button type="button" class="btn init">초기화</button>
		<button type="button" class="btn manage">관리버튼</button>
		<button type="button" class="btn set">세팅버튼</button>
		<a href="#" class="btn link">링크</a>
		<button type="button" class="btn submit small">등록</button>
	</div>
</div>

			<div class="section">
	<div class="h3_head">
		<h3>form - 템플릿과 구성요소들</h3>
	</div>
	<div class="article">
		<form action="" class="spc_form">
			<fieldset>
				<table class="spc_table_form">
					<colgroup>
						<col style="width:157px;">
						<col style="width:auto;">
					</colgroup>
					<tbody>
						<tr>
							<th>셀렉트박스</th>
							<td>
								<div class="spc_select" style="width:120px;">
									<div class="value"><span class="selected">활성</span><i></i></div>
									<select>
										<option>옵션1</option>
										<option>옵션2</option>
										<option>옵션3</option>
									</select>
								</div>
								<div class="spc_select disabled" style="width:120px;">
									<div class="value"><span class="selected">비활성</span><i></i></div>
									<select disabled="disabled">
										<option>옵션1</option>
										<option>옵션2</option>
										<option>옵션3</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<th>체크박스</th>
							<td>
								<label for="check1" class="spc_check checked"><input type="checkbox" id="check1" checked="checked"><i class="symbol"></i>체크1</label>
								<label for="check2" class="spc_check"><input type="checkbox" id="check2"><i class="symbol"></i>체크2</label>
							</td>
						</tr>
						<tr>
							<th>라디오버튼</th>
							<td>
								<label for="ly_radio1-1" class="spc_radio checked"><input type="radio" id="ly_radio1-1" name="ly_radio1" checked="checked" /><i class="symbol"></i>라디오1</label>
								<label for="ly_radio1-2" class="spc_radio"><input type="radio" id="ly_radio1-2" name="ly_radio1" /><i class="symbol"></i>라디오2</label>
							</td>
						</tr>
						<tr>
							<th>달력</th>
							<td>
								<div class="spc_calendar">
									<input type="text" class="spc_text" value="2016.04.27"><button class="btn_calendar">달력</button>
								</div>
								<span class="dash">~</span>
								<div class="spc_calendar">
									<input type="text" class="spc_text" value="2016.04.30"><button class="btn_calendar">달력</button>
								</div>
								<div class="set_date">
									<button type="button" class="btn init">오늘</button>
									<button type="button" class="btn init">어제</button>
								</div>
							</td>
						</tr>
						<tr>
							<th>텍스트박스</th>
							<td>
								<input type="text" class="spc_text" value="활성" style="width:200px;">
								<input type="text" class="spc_text disabled" value="비활성" disabled="disabled" style="width:200px;">
							</td>
						</tr>
					</tbody>
				</table>
				<div class="btn_area">
					<button type="reset" class="btn cancel">초기화</button>
					<button type="submit" class="btn submit">검색</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>

			<div class="section">
	<div class="h3_head">
		<h3>form - title과 open 버튼 있는 경우</h3>
	</div>
	<div class="article">
		<div class="spc_form open">
			<div class="h3_head">
				<h3>검색 타이틀</h3>
				<button class="btn_toggle">검색창</button>
			</div>
			<form action="">
				<fieldset>
					<table class="spc_table_form">
						<colgroup>
							<col style="width:157px;">
							<col style="width:auto;">
						</colgroup>
						<tbody>
							<tr>
								<th>체크박스</th>
								<td>
									<label for="check3" class="spc_check checked"><input type="checkbox" id="check3" checked="checked"><i class="symbol"></i>체크1</label>
									<label for="check4" class="spc_check"><input type="checkbox" id="check4"><i class="symbol"></i>체크2</label>
								</td>
							</tr>
							<tr>
								<th>라디오버튼</th>
								<td>
									<label for="ly_radio2-1" class="spc_radio checked"><input type="radio" id="ly_radio2-1" name="ly_radio2" checked="checked" /><i class="symbol"></i>라디오1</label>
									<label for="ly_radio2-2" class="spc_radio"><input type="radio" id="ly_radio2-2" name="ly_radio2" /><i class="symbol"></i>라디오2</label>
								</td>
							</tr>
							<tr>
								<th>텍스트박스</th>
								<td>
									<input type="text" class="spc_text" value="활성" style="width:200px;">
									<input type="text" class="spc_text disabled" value="비활성" disabled="disabled" style="width:200px;">
								</td>
							</tr>
						</tbody>
					</table>
					<div class="btn_area">
						<button type="reset" class="btn cancel">초기화</button>
						<button type="submit" class="btn submit">검색</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

			<div class="section">
	<div class="h3_head">
		<h3>layer</h3>
	</div>
	<div class="article">
		<div class="spc_layer">
			<div class="layer_hd">
				<h3>레이어 타이틀</h3>
			</div>
			<div class="layer_ct">
				<p class="clause">
					레이어 <strong class="point">컨텐츠</strong> 영역입니다.<br />
					레이어 <strong class="point">컨텐츠</strong> 영역입니다.<br />
					레이어 <strong class="point">컨텐츠</strong> 영역입니다.<br />
				</p>
			</div>
			<button type="button" class="btn_close">닫기</button>
		</div>
	</div>
</div>

		</div>
		<div class="aside_left">
	<!-- <a href="#" class="banner admon"><i>광고주 센터, 광고등록하면 매출이 UP</i></a> -->
	<!-- <button type="button" class="mmp"><span class="blind">티몬특가 신청하기</span></button> -->
	<a href="#" class="banner black_deal"><i>티몬블랙딜 참여하기</i></a>
	<!-- <button type="button" class="extra one_stop">
		<i></i>
		<span>ONE STOP<br>딜검색</span>
	</button> -->
	<ul class="aside_lst_pic">
		<li><a href="#" class="pic onestop"><span class="blind">ONE STOP 딜 검색</span></a></li>
		<li><a href="#" class="pic partner"><span class="blind">파트너 교육센터</span></a></li>
		<li><a href="#" class="pic video"><span class="blind">동영상 가이드</span></a></li>
		<li><a href="#" class="pic report"><span class="blind">비윤리/불친절 직원신고</span></a></li>
		<!-- <li><a href="#" class="pic faq"><span class="blind">자주하는 질문</span></a></li> -->
		<li><a href="#" class="pic holiday"><span class="blind">휴무일 공지등록</span></a></li>
		<!-- <li><a href="#" class="pic excel"><span class="blind">Excel 뷰어 다운로드</span></a></li> -->
		<!-- <li><a href="#" class="pic econtract"><span class="blind">전자계약서 안내</span></a></li> -->
		<!-- <li><a href="#" class="pic certificate"><span class="blind">공인인증서 발급</span></a></li> -->
	</ul>	
	<!-- <button type="button" class="record_inquiry"><span>Facebook<br />딜 실적 조회</span></button>
	<a href="#" class="extra">
		<span>추가메뉴<br>있을경우</span>
	</a>
	<button type="button" class="discount"><span class="blind">할인혜택 적용안내</span></button> -->
	<!-- <ul class="aside_lst">
		<li><a href="#" class="point"><span>파트너<br>교육센터</span></a></li>
		<li><button type="button" class="point"><span>동영상<br>가이드</span></button></li>
		<li><button type="button"><span>비윤리/불친절<br>직원신고</span></button></li>
		<li><button type="button"><span>자주하는<br>질문</span></button></li>
		<li><a href="#"><span>전자계약서<br>안내</span></a></li>
		<li><a href="#"><span>공인인증서<br>발급</span></a></li>
	</ul> -->
	<!-- <button type="button" class="extra">
		<span>오픈마켓<br>동의</span>
	</button>
	<button type="button" class="extra">
		<span>추가메뉴<br>있을경우</span>
	</button> -->
	<button type="button" class="feedback">
		<em>페이지 별점 주기</em>
		<span><i></i><i></i><i></i></span>
	</button>
</div>
	</div>
	<hr>
	<div id="footer">
		<div class="footer_inner">
	<ul class="footer_link">
		<li><a href="#">이용약관</a></li>
		<li><a href="#"><b>개인정보처리방침</b></a></li>
		<li><a href="#">전자금융거래</a></li>
		<li><a href="#">청소년보호정책</a></li>
	</ul>
	<span class="footer_logo">TMON</span>
	<p>사업자등록번호 211-88-41856<span class="dv">|</span>통신판매업신고 제2013-서울강남-02403호</p>
	<p>서울특별시 강남구 테헤란로 114길 38 동일타워<span class="dv">|</span>대표자 이진원<span class="dv">|</span><a href="#">사업자정보확인</a></p>
	<p>COPYRIGHT(c) TMON INC. ALL RIGHTS RESERVED.</p>
	<div class="cs_center">
		<p class="cs_center_top">
			파트너센터 <strong>1644-0552</strong>
		</p>
		<p class="holiday">
			평일 09~18시 (점심시간 12~13시)<br >
			주말/공휴일 휴무
		</p>
	</div>
	<div class="footer_bottom">
		<img src="../../img/common/footer_iso_banner.png" />
	</div>
</div>
	</div>
	<div class="spc_dim"></div> <!-- [D] 레이어 띄울 시 show 시켜주세요. -->
</div>
<!-- [D] UI 확인용 -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
$(function() {
	/* [D] 사이트맵의 활성화 스타일을 주기 위해 "btn_sitemap" 요소에 "open"클래스를 토글시켜주세요. */
	$('.btn_sitemap').on('click', function(){
		$(this).toggleClass('open');
	});
	
	/* [D] 체크박스의 활성화 스타일을 주기 위해 "spc_check" 요소에 "checked"클래스를 토글시켜주세요. */
	$('.spc_check').on('change', 'input', function(){
		$(this).parent().toggleClass('checked');
	});
	
	/* [D] 라디오버튼의 활성화 스타일을 주기 위해 "spc_radio" 요소에 "checked"클래스를 토글시켜주세요. */
	$('.spc_radio').on('click', 'input', function(){
		var $this = $(this);
		var $parent = $this.parent();
		var _name = $this.attr('name');
		
		$parent.siblings().find('[name="'+ _name +'"]').parent().removeClass('checked');
		$parent.addClass('checked');
	});
	
	/* [D] 탭 클릭 */
	$('.spc_tab').on('click', 'button', function(){
		var $this = $(this);
		var $parent = $this.parent('li');
		var idx = $parent.index();
		
		$parent.siblings('.on').removeClass('on');
		$parent.addClass('on');
	});
	
	/* [D] 탭 클릭 */
	$('.spc_form .btn_toggle').on('click', function(){
		var $this = $(this);
		var $spcForm = $this.closest('.spc_form');
		
		$spcForm.toggleClass('open');
	});
});
</script>
</body>
</html>