<div class="section">
	<div class="h3_head">
		<h3>table</h3>
	</div>
	<div class="article">
		<table class="spc_table_board">
			<colgroup>
				<col style="width:auto;" />
				<col style="width:100px;" />
				<col style="width:100px;" />
				<col style="width:100px;" />
				<col style="width:100px;" />
				<col style="width:100px;" />
			</colgroup>
			<thead>
				<tr>
					<th>col1<i class="bar"></i></th>
					<th>col2<i class="bar"></i></th>
					<th>col3<i class="bar"></i></th>
					<th>col4<i class="bar"></i></th>
					<th>col5<i class="bar"></i></th>
					<th>col6<i class="bar"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
