@charset "UTF-8";

// BUTTON
.btn{
	display: inline-block;
	overflow: visible;
	vertical-align: middle;
	text-align: center;
	
	&.manage{
		height: 25px;
		padding: 0 10px;
		border: 1px solid #cfcfcf;
		font-size: 12px;
		color: $color_base;
		line-height: 26px;
		background-color: #fff;
	}
	
	&.set{
		height: 25px;
		padding: 0 10px;
		border: 1px solid #858ca9;
		font-size: 12px;
		color: #fff;
		line-height: 26px;
		background-color: #858ca9;
	}

	&.submit{
		height: 45px;
		padding: 0 25px;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		line-height: 47px;
		background-color: $color_point;
		box-sizing: content-box;
		&.small{
			padding:0 10px;
			height:38px;
			line-height:38px
		}
	}
	
	&.cancel{
		height: 45px;
		padding: 0 25px;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		line-height: 47px;
		background-color: #8d9097;
	}
	
	&.init{
		height: 38px;
		padding: 0 18px;
		border: 1px solid #ccc;
		font-size: 14px;
		color: $color_base;
		line-height: 38px;
		background-color: #fff;
	}
	
	&.link{
		height: 43px;
		padding: 0 24px;
		border: 1px solid $color_point;
		font-size: 16px;
		font-weight: bold;
		color: $color_point;
		line-height: 45px;
		box-sizing: content-box;
	}
	
	&.upload{
		position: relative;
		overflow: hidden;
		input[type="file"]{
			position: absolute;
		    top: 0;
		    left: 0;
		    margin: 0;
		    padding: 0;
		   	width: 100%;
		   	height: 100%;
		   	line-height: 38px;
		   	cursor: pointer;
		    @include opacity(0);
		}
	}
	&.custom{
		float:left;
		border-right:0;
	}
}//.btn

a.btn, span.btn{
	&.manage, &.set{
		height: 23px;
		line-height: 24px;
	}
	&.init{
		height: 36px;
		line-height: 37px;
	}
}

// IE7
.lt-ie8{
	.btn{
		&.manage, &.set{
			line-height: 24px;
		}
	}
}
