@charset "UTF-8";

.h2_head {
	h2 {
		font-family: $font_nanum_gothic;
		font-size: 24px;
		color: #000;
		font-weight: bold;
	}
}

.h3_head {
	overflow: hidden;
	height: 25px;
	h3 {
		float: left;
		font-size: 18px;
		font-weight: bold;
		color: $color_dark;
		line-height: 25px;
		
		.point{
			color: $color_point;
		}
	}
	.options {
		float: right;
		font-size: 0;
		
		.btn{
			margin-left: 5px;
		}
	}
}
