<div class="section">
	<div class="h3_head">
		<h3>form - title과 open 버튼 있는 경우</h3>
	</div>
	<div class="article">
		<div class="spc_form open">
			<div class="h3_head">
				<h3>검색 타이틀</h3>
				<button class="btn_toggle">검색창</button>
			</div>
			<form action="">
				<fieldset>
					<table class="spc_table_form">
						<colgroup>
							<col style="width:157px;">
							<col style="width:auto;">
						</colgroup>
						<tbody>
							<tr>
								<th>체크박스</th>
								<td>
									<label for="check3" class="spc_check checked"><input type="checkbox" id="check3" checked="checked"><i class="symbol"></i>체크1</label>
									<label for="check4" class="spc_check"><input type="checkbox" id="check4"><i class="symbol"></i>체크2</label>
								</td>
							</tr>
							<tr>
								<th>라디오버튼</th>
								<td>
									<label for="ly_radio2-1" class="spc_radio checked"><input type="radio" id="ly_radio2-1" name="ly_radio2" checked="checked" /><i class="symbol"></i>라디오1</label>
									<label for="ly_radio2-2" class="spc_radio"><input type="radio" id="ly_radio2-2" name="ly_radio2" /><i class="symbol"></i>라디오2</label>
								</td>
							</tr>
							<tr>
								<th>텍스트박스</th>
								<td>
									<input type="text" class="spc_text" value="활성" style="width:200px;">
									<input type="text" class="spc_text disabled" value="비활성" disabled="disabled" style="width:200px;">
								</td>
							</tr>
						</tbody>
					</table>
					<div class="btn_area">
						<button type="reset" class="btn cancel">초기화</button>
						<button type="submit" class="btn submit">검색</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
