@charset "UTF-8";

%sp-promotion {
    background: url('../im/sp-promotion.png?v=#{timestamp()}') no-repeat;
    display: inline-block;
    overflow: hidden;
}

@mixin sp-promotion($filename, $padding-top:0, $padding-right:0, $padding-bottom:0, $padding-left:0){
	$dimension-map: map-get($sp-promotion, $filename);
    @extend %sp-promotion;
	@include sp-mosaic($dimension-map, $filename, $padding-top, $padding-right, $padding-bottom, $padding-left);
}

$sp-promotion: (
    spritesheet_name: sp-promotion,
    chk_on: (offset_x: 0, offset_y: 0, width: 20px, height: 20px),
    ico_arrow: (offset_x: -68px, offset_y: 0, width: 4px, height: 8px),
    ico_btn_close: (offset_x: -24px, offset_y: 0, width: 19px, height: 19px),
    ico_clip: (offset_x: -47px, offset_y: -18px, width: 14px, height: 14px),
    ico_clip2: (offset_x: 0, offset_y: -44px, width: 14px, height: 14px),
    ico_clip_off: (offset_x: -18px, offset_y: -44px, width: 14px, height: 14px),
    ico_del: (offset_x: -36px, offset_y: -44px, width: 10px, height: 10px),
    ico_pic: (offset_x: -47px, offset_y: 0, width: 17px, height: 14px),
    ico_radio_off: (offset_x: 0, offset_y: -24px, width: 16px, height: 16px),
    ico_radio_on: (offset_x: -20px, offset_y: -24px, width: 16px, height: 16px),
    ico_slct_arr: (offset_x: -50px, offset_y: -44px, width: 10px, height: 5px),
);
