@charset "UTF-8";

%sp-ptn {
    background: url('../im/sp-ptn.png?v=#{timestamp()}') no-repeat;
    display: inline-block;
    overflow: hidden;
}

@mixin sp-ptn($filename, $padding-top:0, $padding-right:0, $padding-bottom:0, $padding-left:0){
	$dimension-map: map-get($sp-ptn, $filename);
    @extend %sp-ptn;
	@include sp-mosaic($dimension-map, $filename, $padding-top, $padding-right, $padding-bottom, $padding-left);
}

$sp-ptn: (
    spritesheet_name: sp-ptn,
    alert: (offset_x: -292px, offset_y: -110px, width: 11px, height: 11px),
    alert_gray: (offset_x: -307px, offset_y: -110px, width: 11px, height: 11px),
    arrow: (offset_x: -428px, offset_y: -128px, width: 8px, height: 12px),
    arrow_black: (offset_x: -437px, offset_y: -110px, width: 8px, height: 4px),
    arrow_black_type2: (offset_x: -422px, offset_y: -110px, width: 11px, height: 7px),
    arrow_sm: (offset_x: -485px, offset_y: -128px, width: 5px, height: 8px),
    arrow_type2: (offset_x: -440px, offset_y: -128px, width: 7px, height: 11px),
    arrow_type2_org: (offset_x: -451px, offset_y: -128px, width: 7px, height: 11px),
    bell_active: (offset_x: -261px, offset_y: -128px, width: 13px, height: 13px),
    bell_default: (offset_x: -278px, offset_y: -128px, width: 13px, height: 13px),
    book: (offset_x: -185px, offset_y: -30px, width: 48px, height: 48px),
    btn_arr_down: (offset_x: -449px, offset_y: -110px, width: 6px, height: 3px),
    btn_close_minus: (offset_x: -185px, offset_y: -128px, width: 15px, height: 15px),
    btn_delete: (offset_x: -204px, offset_y: -128px, width: 15px, height: 15px),
    btn_info_minus: (offset_x: -463px, offset_y: -82px, width: 19px, height: 19px),
    btn_info_plus: (offset_x: -486px, offset_y: -82px, width: 19px, height: 19px),
    btn_link_arr: (offset_x: -509px, offset_y: -82px, width: 19px, height: 19px),
    btn_next_after: (offset_x: -653px, offset_y: -52px, width: 24px, height: 24px),
    btn_next_before: (offset_x: -681px, offset_y: -52px, width: 24px, height: 24px),
    btn_nextend_after: (offset_x: -709px, offset_y: -52px, width: 24px, height: 24px),
    btn_nextend_before: (offset_x: -737px, offset_y: -52px, width: 24px, height: 24px),
    btn_open_plus: (offset_x: -223px, offset_y: -128px, width: 15px, height: 15px),
    btn_plus: (offset_x: -185px, offset_y: -82px, width: 24px, height: 24px),
    btn_prev_after: (offset_x: -213px, offset_y: -82px, width: 24px, height: 24px),
    btn_prev_before: (offset_x: -241px, offset_y: -82px, width: 24px, height: 24px),
    btn_prevfirst_after: (offset_x: -269px, offset_y: -82px, width: 24px, height: 24px),
    btn_prevfirst_before: (offset_x: -297px, offset_y: -82px, width: 24px, height: 24px),
    calander: (offset_x: -325px, offset_y: -82px, width: 24px, height: 24px),
    cart: (offset_x: -295px, offset_y: -128px, width: 13px, height: 13px),
    cat_arrow_right: (offset_x: -462px, offset_y: -128px, width: 7px, height: 11px),
    chat-day: (offset_x: -237px, offset_y: -30px, width: 48px, height: 48px),
    chat-night: (offset_x: -289px, offset_y: -30px, width: 48px, height: 48px),
    checked: (offset_x: -244px, offset_y: -110px, width: 12px, height: 12px),
    clip-1: (offset_x: -322px, offset_y: -110px, width: 11px, height: 11px),
    clip-2: (offset_x: -206px, offset_y: -110px, width: 14px, height: 14px),
    copy: (offset_x: -727px, offset_y: -30px, width: 16px, height: 16px),
    cs: (offset_x: -341px, offset_y: -30px, width: 48px, height: 48px),
    curation: (offset_x: -747px, offset_y: -30px, width: 16px, height: 16px),
    delete: (offset_x: -242px, offset_y: -128px, width: 15px, height: 15px),
    down-l: (offset_x: -724px, offset_y: -82px, width: 17px, height: 14px),
    down-l_black: (offset_x: -745px, offset_y: -82px, width: 17px, height: 14px),
    etc: (offset_x: -393px, offset_y: -30px, width: 48px, height: 48px),
    file_del: (offset_x: -367px, offset_y: -110px, width: 10px, height: 10px),
    ib: (offset_x: -445px, offset_y: -30px, width: 48px, height: 48px),
    icon_call: (offset_x: -624px, offset_y: -82px, width: 16px, height: 16px),
    img-gray: (offset_x: -185px, offset_y: -110px, width: 17px, height: 14px),
    incall: (offset_x: -312px, offset_y: -128px, width: 13px, height: 13px),
    layerpop_close: (offset_x: -532px, offset_y: -82px, width: 19px, height: 19px),
    layerpop_close2: (offset_x: -555px, offset_y: -82px, width: 19px, height: 19px),
    log_ptncms: (offset_x: -185px, offset_y: 0, width: 583px, height: 26px),
    logo-white: (offset_x: -653px, offset_y: -30px, width: 70px, height: 18px),
    member: (offset_x: -329px, offset_y: -128px, width: 13px, height: 13px),
    ob-small: (offset_x: -346px, offset_y: -128px, width: 13px, height: 13px),
    ob: (offset_x: -497px, offset_y: -30px, width: 48px, height: 48px),
    offline: (offset_x: -409px, offset_y: -110px, width: 9px, height: 9px),
    open_layer: (offset_x: -578px, offset_y: -82px, width: 19px, height: 19px),
    openmarket: (offset_x: -644px, offset_y: -82px, width: 16px, height: 16px),
    qa: (offset_x: -363px, offset_y: -128px, width: 13px, height: 13px),
    qa_active: (offset_x: -380px, offset_y: -128px, width: 13px, height: 13px),
    qu: (offset_x: -549px, offset_y: -30px, width: 48px, height: 48px),
    radio_off: (offset_x: -260px, offset_y: -110px, width: 12px, height: 12px),
    radio_on: (offset_x: -276px, offset_y: -110px, width: 12px, height: 12px),
    record: (offset_x: -664px, offset_y: -82px, width: 16px, height: 16px),
    reply: (offset_x: -473px, offset_y: -128px, width: 8px, height: 8px),
    reset: (offset_x: -353px, offset_y: -82px, width: 24px, height: 24px),
    reset_small: (offset_x: -684px, offset_y: -82px, width: 16px, height: 16px),
    reset_type2: (offset_x: -381px, offset_y: -110px, width: 10px, height: 10px),
    reset_type3: (offset_x: -337px, offset_y: -110px, width: 11px, height: 11px),
    search: (offset_x: -381px, offset_y: -82px, width: 24px, height: 24px),
    slct_down: (offset_x: -459px, offset_y: -110px, width: 6px, height: 3px),
    slct_right: (offset_x: -765px, offset_y: -52px, width: 3px, height: 6px),
    slct_typ2_down: (offset_x: -469px, offset_y: -110px, width: 6px, height: 3px),
    slct_typ2_left: (offset_x: -765px, offset_y: -62px, width: 3px, height: 6px),
    slct_typ2_right: (offset_x: -494px, offset_y: -128px, width: 3px, height: 6px),
    slct_typ2_up: (offset_x: -479px, offset_y: -110px, width: 6px, height: 3px),
    slct_typ3_down: (offset_x: -489px, offset_y: -110px, width: 6px, height: 3px),
    slct_typ3_up: (offset_x: -499px, offset_y: -110px, width: 6px, height: 3px),
    slct_up: (offset_x: -509px, offset_y: -110px, width: 6px, height: 3px),
    star: (offset_x: -409px, offset_y: -82px, width: 23px, height: 19px),
    star_fill: (offset_x: -436px, offset_y: -82px, width: 23px, height: 19px),
    state_close: (offset_x: -395px, offset_y: -110px, width: 10px, height: 10px),
    table-record: (offset_x: -601px, offset_y: -82px, width: 19px, height: 19px),
    table_file_down: (offset_x: -414px, offset_y: -128px, width: 10px, height: 12px),
    table_sms: (offset_x: -224px, offset_y: -110px, width: 16px, height: 12px),
    table_star_small: (offset_x: -352px, offset_y: -110px, width: 11px, height: 11px),
    thunder: (offset_x: -185px, offset_y: -147px, width: 9px, height: 14px),
    tmoni_typ1: (offset_x: 0, offset_y: 0, width: 181px, height: 205px),
    tolk: (offset_x: -397px, offset_y: -128px, width: 13px, height: 13px),
    tooltip: (offset_x: -704px, offset_y: -82px, width: 16px, height: 16px),
    tr: (offset_x: -601px, offset_y: -30px, width: 48px, height: 48px),
);
